In [1]:
import pandas as pd

In [2]:
#definir funciones a usar
def cuenta_valores_nulos(dataframe): 
    #por columna
    valores_nulos_cols = dataframe.isnull().sum()
    #por dataframe
    valores_nulos_df = dataframe.isnull().sum().sum()

    return("Valores nulos por columna", valores_nulos_cols,
           "valores nulos por dataframe", valores_nulos_df)

In [3]:
def sustitucion_mediana(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cuantitivas = cuantitativas_con_nulos.fillna(round(cuantitativas_con_nulos.median(), 1))
    #unir data frame
    Datos_sin_nulos = pd.concat([cuantitivas, cualitativas], axis=1)

    return(Datos_sin_nulos)

In [4]:
def sustitucion_promedio(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cuantitivas = cuantitativas_con_nulos.fillna(round(cuantitativas_con_nulos.mean(), 1))
    #unir data frame
    Datos_sin_nulos = pd.concat([cuantitivas, cualitativas], axis=1)

    return(Datos_sin_nulos)

In [5]:
def sustitucion_ffill(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cualitativas = cualitativas_con_nulos.fillna(method="ffill")
    #unir data frame
    Datos_sin_nulos = pd.concat([cualitativas,cuantitativas_con_nulos], axis=1)

    return(Datos_sin_nulos)

In [6]:
def sustitucion_bfill(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cualitativas = cualitativas_con_nulos.fillna(method="bfill")
    #unir data frame
    Datos_sin_nulos = pd.concat([cualitativas,cuantitativas_con_nulos], axis=1)

    return(Datos_sin_nulos)

In [7]:
def sustitucion_string_concreto(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cualitativas = cualitativas_con_nulos.fillna("calendar_date")
    #unir data frame
    Datos_sin_nulos = pd.concat([cualitativas,cuantitativas_con_nulos], axis=1)

    return(Datos_sin_nulos)

In [70]:
def sustitucion_constante(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cuanlitativas = cualitativas_con_nulos.fillna("f")
    #unir data frame
    Datos_sin_nulos = pd.concat([cuanlitativas,cuantitativas_con_nulos], axis=1)

    return(Datos_sin_nulos)

In [78]:
def sustitucion_constante_numero(dataframe):
    #separar las numericas de las str en el dataframe 
    cuantitativas_con_nulos = dataframe.select_dtypes(include=["float64","int64","float","int"])
    #separar columnas cualitativas
    cualitativas_con_nulos = dataframe.select_dtypes(include=["object","datetime","category"])
    #sustitur valores nulos con 
    cuantitativas = cuantitativas_con_nulos.fillna(3)
    #unir data frame
    Datos_sin_nulos = pd.concat([cuantitativas,cualitativas_con_nulos], axis=1)

    return(Datos_sin_nulos)

In [9]:
Berlin_data = pd.read_csv("Berlin_Alemania.csv")
Berlin_data

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,NaN,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,NaN,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,NaN,125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,NaN,NaN,NaN,NaN,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [10]:
Berlin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13984 entries, 0 to 13983
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    13984 non-null  int64
 1   id                                            13984 non-null  int64
 2   scrape_id                                     13984 non-null  int64
 3   name                                          13984 non-null  object
 4   description                                   13365 non-null  object
 5   host_id                                       13984 non-null  int64
 6   host_name                                     13975 non-null  object
 7   host_is_superhost                             13847 non-null  object
 8   host_listings_count                           13975 non-null  float64
 9   host_total_listings_count                     13975 non-null  float64
 10  host_has_profile_pic                          13975 non-null  object
 11  host_identity_verified                        13975 non-null  object
 12  latitude                                      13984 non-null  float64
 13  longitude                                     13984 non-null  float64
 14  property_type                                 13984 non-null  object
 15  room_type                                     13984 non-null  object
 16  accommodates                                  13984 non-null  int64
 17  bathrooms                                     9002 non-null   float64
 18  bedrooms                                      11924 non-null  float64
 19  beds                                          8971 non-null   float64
 20  amenities                                     13984 non-null  object
 21  minimum_nights                                13984 non-null  int64
 22  maximum_nights                                13984 non-null  int64
 23  minimum_minimum_nights                        13984 non-null  int64
 24  maximum_minimum_nights                        13984 non-null  int64
 25  minimum_maximum_nights                        13984 non-null  int64
 26  maximum_maximum_nights                        13984 non-null  int64
 27  minimum_nights_avg_ntm                        13984 non-null  float64
 28  maximum_nights_avg_ntm                        13984 non-null  float64
 29  has_availability                              13140 non-null  object
 30  availability_30                               13984 non-null  int64
 31  availability_60                               13984 non-null  int64
 32  availability_90                               13984 non-null  int64
 33  availability_365                              13984 non-null  int64
 34  number_of_reviews                             13984 non-null  int64
 35  number_of_reviews_ltm                         13984 non-null  int64
 36  number_of_reviews_l30d                        13984 non-null  int64
 37  review_scores_rating                          10706 non-null  float64
 38  review_scores_accuracy                        10704 non-null  float64
 39  review_scores_cleanliness                     10706 non-null  float64
 40  review_scores_checkin                         10703 non-null  float64
 41  review_scores_communication                   10705 non-null  float64
 42  review_scores_location                        10703 non-null  float64
 43  review_scores_value                           10701 non-null  float64
 44  license                                       8827 non-null   object
 45  instant_bookable                              13984 non-null  object
 46  calculated_host_listings_count                13984 non-null  int64
 47  calculated_host_listings_count_entire_homes   13984 non-null  int64
 48  calculated_host_listings_count_private_rooms  13984 non-null  int64
 49  calculated_host_listings_count_shared_rooms   13984 non-null  int64
 50  reviews_per_month                             10706 non-null  float64
dtypes: float64(17), int64(22), object(12)
memory usage: 5.4+ MB

In [65]:
#para comprobar tipo de dato 
resultado = Berlin_data["license"] 
resultado

0                                                      NaN
1                                                      NaN
2                                        01/Z/AZ/017416-24
3                                                      NaN
4                                                      NaN
                               ...
13979                                    03/Z/AZ/007577-22
13980                                                  NaN
13981    Legal entity name and Legal form: Bellman Hote...
13982                                                  NaN
13983    First name and Last name: Ines Chebli <br/> Co...
Name: license, Length: 13984, dtype: object

In [11]:
cuenta_valores_nulos(Berlin_data)

('Valores nulos por columna',
 Unnamed: 0                                         0
 id                                                 0
 scrape_id                                          0
 name                                               0
 description                                      619
 host_id                                            0
 host_name                                          9
 host_is_superhost                                137
 host_listings_count                                9
 host_total_listings_count                          9
 host_has_profile_pic                               9
 host_identity_verified                             9
 latitude                                           0
 longitude                                          0
 property_type                                      0
 room_type                                          0
 accommodates                                       0
 bathrooms                                       4982
 bedrooms                                        2060
 beds                                            5013
 amenities                                          0
 minimum_nights                                     0
 maximum_nights                                     0
 minimum_minimum_nights                             0
 maximum_minimum_nights                             0
 minimum_maximum_nights                             0
 maximum_maximum_nights                             0
 minimum_nights_avg_ntm                             0
 maximum_nights_avg_ntm                             0
 has_availability                                 844
 availability_30                                    0
 availability_60                                    0
 availability_90                                    0
 availability_365                                   0
 number_of_reviews                                  0
 number_of_reviews_ltm                              0
 number_of_reviews_l30d                             0
 review_scores_rating                            3278
 review_scores_accuracy                          3280
 review_scores_cleanliness                       3278
 review_scores_checkin                           3281
 review_scores_communication                     3279
 review_scores_location                          3281
 review_scores_value                             3283
 license                                         5157
 instant_bookable                                   0
 calculated_host_listings_count                     0
 calculated_host_listings_count_entire_homes        0
 calculated_host_listings_count_private_rooms       0
 calculated_host_listings_count_shared_rooms        0
 reviews_per_month                               3278
 dtype: int64,
 'valores nulos por dataframe',
 np.int64(45095))

In [26]:
df_sin_nulos = Berlin_data.loc[:, Berlin_data.notna().all()]
df_sin_nulos

,Unnamed: 0,id,scrape_id,name,host_id,latitude,longitude,property_type,room_type,accommodates,...,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",6302373,52.488550,13.414800,Entire rental unit,Entire home/apt,2,...,0,0,11,0,0,f,1,1,0,0
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,206488801,52.560900,13.350000,Private room in rental unit,Private room,2,...,90,180,0,0,0,f,3,1,2,0
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,50009901,52.504812,13.415324,Private room in condo,Private room,2,...,58,305,34,34,5,f,1,0,1,0
3,3,8164759,20241221052002,Beautiful single-room studio,42115726,52.548240,13.357780,Entire rental unit,Entire home/apt,2,...,0,0,1,0,0,f,1,1,0,0
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,131184702,52.536470,13.420490,Entire rental unit,Entire home/apt,3,...,0,0,0,0,0,f,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,125006999,52.524718,13.460553,Private room in home,Private room,1,...,28,28,9,9,0,f,3,0,3,0
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,449692327,52.487360,13.375470,Entire rental unit,Entire home/apt,2,...,89,364,0,0,0,t,58,58,0,0
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,570785536,52.464017,13.444353,Room in hotel,Private room,2,...,73,253,0,0,0,t,6,0,6,0
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,3893392,52.544950,13.440550,Entire rental unit,Entire home/apt,2,...,90,365,0,0,0,f,2,2,0,0
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,21907458,52.547738,13.344286,Entire rental unit,Entire home/apt,4,...,89,364,0,0,0,f,1,1,0,0

In [64]:
#Remplazar columnas tipo numeric con mediana (int y float)
#bathrooms","beds","bedrooms
sustitucion1 = sustitucion_mediana(Berlin_data[["id","bathrooms","beds","bedrooms"]])
sustitucion1

                        id  bathrooms  beds  bedrooms
0                  2084992        1.0   1.0       1.0
1      1123383729460847373        0.5   1.0       1.0
2      1205255838613758737        1.0   1.0       1.0
3                  8164759        1.0   1.0       1.0
4                 18836877        1.0   1.0       2.0
...                    ...        ...   ...       ...
13979  1066742710842868324        1.0   1.0       1.0
13980   882524735229064604        1.0   1.0       1.0
13981  1172288594718636022        1.0   1.0       1.0
13982  1233927040956879330        1.0   1.0       1.0
13983  1285513092900098347        1.0   1.0       1.0

[13984 rows x 4 columns]

In [ ]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido = Berlin_data.drop(columns=["bathrooms","beds","bedrooms"]) 
remplazar_con_mediana = pd.merge(sustitucion1,df_excluido, on="id")
remplazar_con_mediana
remplazar_con_mediana.to_csv("remplazar_con_mediana.csv")

Decide remplazar esta columnas con la media ya que necesitan ser numeros de .5 o enteros, por lo tanto remplazarlos por promedio no hubiera sido muy util. Así mismo, la mediana siempre es un numero entero, por lo que en este caso es ideal.

In [35]:
#Remplazar columnas tipo object con ffill (object datetime y category)
#Honame y description
sustitucion2 = sustitucion_ffill(Berlin_data[["id","host_name","description"]])
sustitucion2

/var/folders/55/wyghdbg574v82z73n_3mj8cw0000gn/T/ipykernel_22005/1466046723.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method="ffill")

,host_name,description,id
0,Andreas,Our cosy two room Apartment (70qm) in a vibrat...,2084992
1,Supriya,Room in an apartment available. Apartment has ...,1123383729460847373
2,Gabriel,Cozy private room in Berlin Mitte with private...,1205255838613758737
3,Lars,Experience the “real Berlin” in our small and ...,8164759
4,Jana,"The accommodation has 3 rooms, however, is onl...",18836877
...,...,...,...
13979,Sophie,Located in the heart of Berlin! 10 minutes wal...,1066742710842868324
13980,Ukio Germany,"Spectacular apartment in Eylauerstrasse, with ...",882524735229064604
13981,Sergio,This wheelchair accessible double room feature...,1172288594718636022
13982,Nikolaj,Fully equipped apartment with large balcony in...,1233927040956879330
13983,Inès Lily,Enjoy with your family this great place to sta...,1285513092900098347

In [ ]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido2 = Berlin_data.drop(columns=["host_name","description"]) 
remplazar_con_ffill = pd.merge(sustitucion2,df_excluido2, on="id")
remplazar_con_ffill.to_csv("remplazar_con_ffill.csv")

In [97]:
remplazar_con_ffill

,host_name,description,id,Unnamed: 0,scrape_id,name,host_id,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,Andreas,Our cosy two room Apartment (70qm) in a vibrat...,2084992,0,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",6302373,f,1.0,1.0,...,5.00,4.64,4.82,NaN,f,1,1,0,0,0.09
1,Supriya,Room in an apartment available. Apartment has ...,1123383729460847373,1,20241221052002,Furnished room in well equipped serviced apart...,206488801,f,7.0,7.0,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
2,Gabriel,Cozy private room in Berlin Mitte with private...,1205255838613758737,2,20241221052002,Luxurous game room with private bath in X-Berg,50009901,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,Lars,Experience the “real Berlin” in our small and ...,8164759,3,20241221052002,Beautiful single-room studio,42115726,f,1.0,3.0,...,5.00,3.00,3.00,NaN,f,1,1,0,0,0.01
4,Jana,"The accommodation has 3 rooms, however, is onl...",18836877,4,20241221052002,Unterkunft zentral in Berlin,131184702,f,1.0,1.0,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,Sophie,Located in the heart of Berlin! 10 minutes wal...,1066742710842868324,13979,20241221052002,Cozy bedroom in a stylish house,125006999,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,Ukio Germany,"Spectacular apartment in Eylauerstrasse, with ...",882524735229064604,13980,20241221052002,hornos - 1 bedroom apartment in kreuzberg,449692327,f,58.0,59.0,...,NaN,NaN,NaN,NaN,t,58,58,0,0,NaN
13981,Sergio,This wheelchair accessible double room feature...,1172288594718636022,13981,20241221052002,Deluxe Superior Accessible,570785536,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,Nikolaj,Fully equipped apartment with large balcony in...,1233927040956879330,13982,20241221052002,Prenzlauerberg Berlin,3893392,f,2.0,2.0,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
13983,Inès Lily,Enjoy with your family this great place to sta...,1285513092900098347,13983,20241221052002,Charmant appart berlinois,21907458,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

Remplazé la columna host_name y description con un forward fill, ya que al ser una variable descriptiva y no existir un valor predeterminao para llenar, me pareció la mejor opción

In [36]:
#Remplazar columnas tipo object con bfill (object datetime y category)
#license
sustitucion3 = sustitucion_bfill(Berlin_data[["id","license"]])
sustitucion3

/var/folders/55/wyghdbg574v82z73n_3mj8cw0000gn/T/ipykernel_22005/1825085153.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  cualitativas = cualitativas_con_nulos.fillna(method="bfill")

                                                 license                   id
0                                      01/Z/AZ/017416-24              2084992
1                                      01/Z/AZ/017416-24  1123383729460847373
2                                      01/Z/AZ/017416-24  1205255838613758737
3                                      01/Z/NA/004162-16              8164759
4                                      01/Z/NA/004162-16             18836877
...                                                  ...                  ...
13979                                  03/Z/AZ/007577-22  1066742710842868324
13980  Legal entity name and Legal form: Bellman Hote...   882524735229064604
13981  Legal entity name and Legal form: Bellman Hote...  1172288594718636022
13982  First name and Last name: Ines Chebli <br/> Co...  1233927040956879330
13983  First name and Last name: Ines Chebli <br/> Co...  1285513092900098347

[13984 rows x 2 columns]

In [102]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido3 = Berlin_data.drop(columns=["license"]) 
remplazar_con_bfill = pd.merge(sustitucion3,df_excluido3, on="id")
remplazar_con_bfill.to_csv("remplazar_con_bfill.csv")

In [104]:
#remplazar_con_bfill

Remplazé la columna license con un backward fill, ya que al ser una variable descriptiva y no existir un valor predeterminao para llenar, me pareció la mejor opción más que el dato es parecido en la mayoria

In [68]:
#Remplazar columnas tipo object con string concreto (object datetime y category)
#booleanos
#has_availability host_is_superhost host_listings_count host_total_listings_count host_has_profile_pic host_identity_verified 
sustitucion4 = sustitucion_constante(Berlin_data[["id","has_availability", "host_is_superhost", "host_has_profile_pic", "host_identity_verified"]])
sustitucion4

,has_availability,host_is_superhost,host_has_profile_pic,host_identity_verified,id
0,t,f,t,t,2084992
1,t,f,t,t,1123383729460847373
2,t,t,t,t,1205255838613758737
3,t,f,t,t,8164759
4,t,f,t,t,18836877
...,...,...,...,...,...
13979,t,t,t,t,1066742710842868324
13980,t,f,t,t,882524735229064604
13981,t,f,t,t,1172288594718636022
13982,t,f,t,t,1233927040956879330
13983,f,f,t,t,1285513092900098347

In [106]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido4 = Berlin_data.drop(columns=["has_availability", "host_is_superhost", "host_has_profile_pic", "host_identity_verified"]) 
remplazar_con_constante = pd.merge(sustitucion4,df_excluido4, on="id")
remplazar_con_constante.to_csv("remplazar_con_constante.csv")

In [107]:
remplazar_con_constante

,has_availability,host_is_superhost,host_has_profile_pic,host_identity_verified,id,Unnamed: 0,scrape_id,name,description,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,t,f,t,t,2084992,0,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,...,5.00,4.64,4.82,NaN,f,1,1,0,0,0.09
1,t,f,t,t,1123383729460847373,1,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
2,t,t,t,t,1205255838613758737,2,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,t,f,t,t,8164759,3,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,...,5.00,3.00,3.00,NaN,f,1,1,0,0,0.01
4,t,f,t,t,18836877,4,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,t,t,t,t,1066742710842868324,13979,20241221052002,Cozy bedroom in a stylish house,NaN,125006999,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,t,f,t,t,882524735229064604,13980,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,...,NaN,NaN,NaN,NaN,t,58,58,0,0,NaN
13981,t,f,t,t,1172288594718636022,13981,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,t,f,t,t,1233927040956879330,13982,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
13983,f,f,t,t,1285513092900098347,13983,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

Las columnas con valores booleanos las remplazé con una cosntate ya que, aquí solo esta la opción de tener dos resultados "t" o "f"

In [108]:
##Remplazar columnas tipo numeric con constante (int y float)
#reviews per month
sustitucion5 = sustitucion_constante_numero(Berlin_data[["id","reviews_per_month","host_listings_count", "host_total_listings_count"]])
sustitucion5

,id,reviews_per_month,host_listings_count,host_total_listings_count
0,2084992,0.09,1.0,1.0
1,1123383729460847373,3.00,7.0,7.0
2,1205255838613758737,9.53,1.0,1.0
3,8164759,0.01,1.0,3.0
4,18836877,3.00,1.0,1.0
...,...,...,...,...
13979,1066742710842868324,0.82,3.0,3.0
13980,882524735229064604,3.00,58.0,59.0
13981,1172288594718636022,3.00,6.0,6.0
13982,1233927040956879330,3.00,2.0,2.0
13983,1285513092900098347,3.00,1.0,1.0

In [110]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido5 = Berlin_data.drop(columns=["reviews_per_month","host_listings_count", "host_total_listings_count"]) 
remplazar_con_constante_numero = pd.merge(sustitucion5,df_excluido5, on="id")
remplazar_con_constante_numero.to_csv("remplazar_con_constante_numero.csv")

In [111]:
remplazar_con_constante_numero

,id,reviews_per_month,host_listings_count,host_total_listings_count,Unnamed: 0,scrape_id,name,description,host_id,host_name,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,2084992,0.09,1.0,1.0,0,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,...,4.91,5.00,4.64,4.82,NaN,f,1,1,0,0
1,1123383729460847373,3.00,7.0,7.0,1,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,...,NaN,NaN,NaN,NaN,NaN,f,3,1,2,0
2,1205255838613758737,9.53,1.0,1.0,2,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,...,4.97,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0
3,8164759,0.01,1.0,3.0,3,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,...,5.00,5.00,3.00,3.00,NaN,f,1,1,0,0
4,18836877,3.00,1.0,1.0,4,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,1066742710842868324,0.82,3.0,3.0,13979,20241221052002,Cozy bedroom in a stylish house,NaN,125006999,Sophie,...,5.00,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0
13980,882524735229064604,3.00,58.0,59.0,13980,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,...,NaN,NaN,NaN,NaN,NaN,t,58,58,0,0
13981,1172288594718636022,3.00,6.0,6.0,13981,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,...,NaN,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0
13982,1233927040956879330,3.00,2.0,2.0,13982,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,...,NaN,NaN,NaN,NaN,NaN,f,2,2,0,0
13983,1285513092900098347,3.00,1.0,1.0,13983,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,...,NaN,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0

Remplazé estos valores con constante númerica ya que, se puede usar un numero similar para las tres

In [67]:
##Remplazar columnas tipo numeric con promedio (int y float)
#review_scores_rating review_scores_accuracy review_scores_cleanliness review_scores_checkin review_scores_communication review_scores_location review_scores_value
sustitucion6 = sustitucion_promedio(Berlin_data[["id","review_scores_rating", "review_scores_accuracy", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value"]])
sustitucion6

,id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,2084992,5.00,4.91,5.00,4.91,5.00,4.64,4.82
1,1123383729460847373,4.80,4.80,4.70,4.80,4.80,4.80,4.70
2,1205255838613758737,4.97,4.97,5.00,4.97,4.97,4.94,4.94
3,8164759,5.00,5.00,4.00,5.00,5.00,3.00,3.00
4,18836877,4.80,4.80,4.70,4.80,4.80,4.80,4.70
...,...,...,...,...,...,...,...,...
13979,1066742710842868324,5.00,5.00,4.89,5.00,5.00,4.78,5.00
13980,882524735229064604,4.80,4.80,4.70,4.80,4.80,4.80,4.70
13981,1172288594718636022,4.80,4.80,4.70,4.80,4.80,4.80,4.70
13982,1233927040956879330,4.80,4.80,4.70,4.80,4.80,4.80,4.70
13983,1285513092900098347,4.80,4.80,4.70,4.80,4.80,4.80,4.70

In [113]:
#codigo para generar un data frame con todas las columnas y los valores nulos de las columnas ::: remplazados
df_excluido6 = Berlin_data.drop(columns=["review_scores_rating", "review_scores_accuracy", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value"]) 
remplazar_con_promedio = pd.merge(sustitucion6,df_excluido6, on="id")
remplazar_con_promedio.to_csv("remplazar_con_promedio.csv")

Remplazé estas columnas con promedio, ya que son variables cuya calificación suele contar con decimales por lo tanto es útil tener el promedio ya que se parece a un resultado real.

Por último, use un merge para unir todos los dataframes con la columna id. al fianl se muestrala cuenta de valores nulos en 0

In [80]:
#concatenar todos los dataframes 
datos_sin_nulos1 = pd.merge(df_sin_nulos, sustitucion1, on="id")

In [81]:
datos_sin_nulos2 = pd.merge(datos_sin_nulos1, sustitucion2, on="id")

In [82]:
datos_sin_nulos3 = pd.merge(datos_sin_nulos2, sustitucion3, on="id")

In [83]:
datos_sin_nulos4 = pd.merge(datos_sin_nulos3, sustitucion4, on="id")

In [84]:
datos_sin_nulos5 = pd.merge(datos_sin_nulos4, sustitucion5, on="id")

In [87]:
Berlin_data_sin_nulos= pd.merge(datos_sin_nulos5, sustitucion6, on="id")
Berlin_data_sin_nulos
Berlin_data_sin_nulos.to_csv("Berlin_data_sin_nulos.csv")

In [86]:
cuenta_valores_nulos(Berlin_data_sin_nulos)

('Valores nulos por columna',
 Unnamed: 0                                      0
 id                                              0
 scrape_id                                       0
 name                                            0
 host_id                                         0
 latitude                                        0
 longitude                                       0
 property_type                                   0
 room_type                                       0
 accommodates                                    0
 amenities                                       0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 bathrooms                                       0
 beds                                            0
 bedrooms                                        0
 host_name                                       0
 description                                     0
 license                                         0
 has_availability                                0
 host_is_superhost                               0
 host_has_profile_pic                            0
 host_identity_verified                          0
 reviews_per_month                               0
 host_listings_count                             0
 host_total_listings_count                       0
 review_scores_rating                            0
 review_scores_accuracy                          0
 review_scores_cleanliness                       0
 review_scores_checkin                           0
 review_scores_communication                     0
 review_scores_location                          0
 review_scores_value                             0
 dtype: int64,
 'valores nulos por dataframe',
 np.int64(0))